
.dice-roll .dice-formula,
.dice-roll .dice-total {
  text-align: center;
  font-size: large;
  background-color: #3339;
  border: 1px solid #33999999;
  border-radius: 4px;
  margin: 0px 5px 5px 5px;
  padding: 0px 0px 0px 0px;
}
.dice-roll .hit-type {
  font-size: 20px;
  font-weight: bold;
  font-variant: all-small-caps;
}
.dice-roll .action-result {
  margin: 0px 0px 9px 0px;
  padding: 4px 0px 4px 0px;
  font-weight: bold;
}
.dice-roll .roll {
  width: 24px;
  line-height: 24px;
  display: inline-block;
  margin-right: 1px;
  background-image: url("../../resources/dice/d6-grey.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.dice-roll .roll.d4 {
  background-image: url("../../resources/dice/d4-grey.svg");
}
.dice-roll .roll.d6 {
  background-image: url("../../resources/dice/d6-grey.svg");
  color: black;
}
.dice-roll .roll.d8 {
  background-image: url("../../resources/dice/d8-grey.svg");
}
.dice-roll .roll.d10 {
  background-image: url("../../resources/dice/d10-grey.svg");
  color: black;
}
.dice-roll .roll.d12 {
  background-image: url("../../resources/dice/d12-grey.svg");
}
.dice-roll .roll.d20 {
  background-image: url("../../resources/dice/d20-grey.svg");
}
.dice-roll .roll.min {
  color: #aa0200;
  filter: sepia(1.0) hue-rotate(-60deg);
}
.dice-roll .roll.max {
  color: #18520b;
  filter: sepia(1.0) hue-rotate(60deg);
}
.dice-roll .peril {
  background-color: #aa000099;
}
.dice-roll .opportunity {
  background-color: #00ff0099;
}
.dice-roll .miss {
  background-color: #aa000066;
}
.dice-roll .strong-hit {
  background-color: #00ff0066;
}
.dice-roll .weak-hit {
  background-color: #00ff0033;
}
.chat-message .roll-header {
  text-align: center;
  font-size: medium;
  color: #66ffff99;
  background-color: #3339;
  border: 1px solid #33999999;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 4px;
}

.message-header {
  margin: 2px 5px 0px 5px;
}

.message-header .message-sender,
.message-header .message-timestamp {
  color: #66ffff66;
}