<div class="starforged-generator">
    <div class="button-stack generator-width">
        <div class="button-stack-button dim top roll-generator" data-generator="Sector" data-type="Random">SECTOR</div>
        <div class="button-stack-button dim roll-generator" data-generator="Sector" data-type="Terminus">TERMINUS</div>
        <div class="button-stack-button dim roll-generator" data-generator="Sector" data-type="Outlands">OUTLANDS</div>
        <div class="button-stack-button dim bot roll-generator" data-generator="Sector" data-type="Expanse">EXPANSE</div>
    </div>
    <div class="button-stack generator-width">
        <div class="button-stack-button dim top roll-generator" data-generator="Settlement" data-type="Random">SETTLEMENT</div>
        <div class="button-stack-button dim roll-generator" data-generator="Settlement" data-type="Deep Space">DEEP SPACE</div>
        <div class="button-stack-button dim roll-generator" data-generator="Settlement" data-type="Orbital">ORBITAL</div>
        <div class="button-stack-button dim bot roll-generator" data-generator="Settlement" data-type="Planetside">PLANETSIDE</div>
    </div>
    <div class="button-stack generator-width">
        <div class="button-stack-button dim top roll-generator" data-generator="Planet" data-type="Random">PLANET</div>
        <div class="button-stack-button dim roll-generator" data-generator="Starship" data-type="Random">STARSHIP</div>
        <div class="button-stack-button dim roll-generator" data-generator="NPC" data-type="Random">NPC</div>
        <div class="button-stack-button dim roll-generator" data-generator="Creature" data-type="Random">CREATURE</div>
        <div class="button-stack-button dim bot roll-generator" data-generator="Location" data-type="Random">LOCATION</div>
    </div>
    <div class="button-stack generator-width">
        <div class="button-stack-button dim top roll-generator" data-generator="Derelict" data-type="Random">DERELICT</div>
        <div class="button-stack-button dim roll-generator" data-generator="Derelict" data-type="Deep Space">DEEP SPACE</div>
        <div class="button-stack-button dim roll-generator" data-generator="Derelict" data-type="Orbital">ORBITAL</div>
        <div class="button-stack-button dim bot roll-generator" data-generator="Derelict" data-type="Planetside">PLANETSIDE</div>
    </div>
    <div class="button-stack generator-width">
        <div class="button-stack-button dim top roll-generator" data-generator="Precursor" data-type="Random">PRECURSOR</div>
        <div class="button-stack-button dim roll-generator" data-generator="Precursor" data-type="Deep Space">DEEP SPACE</div>
        <div class="button-stack-button dim roll-generator" data-generator="Precursor" data-type="Orbital">ORBITAL</div>
        <div class="button-stack-button dim roll-generator" data-generator="Precursor" data-type="Planetside">PLANETSIDE</div>
        <div class="button-stack-button dim bot roll-generator" data-generator="YourTruths" data-type="Random">YOUR TRUTHS</div>
    </div>
</div>



