<div>
    <div class="starforged-character-dock">
        <div class="button-stack">
            <div class="button-stack-header top">EARNED</div>
            <div class="stat"><input name="xp" disabled="disabled" type="text" value="{{xp}}"/></div>
            <div class="button-stack-header bright bot">XP</div>
        </div>
        <div class="button-stack">
            <div class="button-stack-header top">SPENT</div>
            <div class="stat"><input name="data.xpSpent" disabled="disabled" type="text" value="{{data.xpSpent}}"/></div>
            <div class="stat-footer">
                <div class="button-stack-button bright bot-left minus-one" data-value="xpSpent" data-score="{{xp}}">-</div>
                <div class="button-stack-button bright bot-right plus-one" data-value="xpSpent" data-score="{{xp}}">+</div>
            </div>
        </div>
    </div>
</div>