<div class="content">
    <center><h4>JOURNAL</h4></center>
    <div class="details">
        {{editor content=data.journal target="data.journal" button=true owner=owner editable=editable}}
    </div>
</div>