<form class="{{cssClass}} starforged" autocomplete="off">
  <div class="starforged-dossier">
    {{> "systems/starforged/templates/partials/dashboard.hbs" }}
    {{> "systems/starforged/templates/partials/generators.hbs" }}
  </div>
</form>